body{
    background-color: bisque;
}
h1 
{
    
    border-color: black;
    text-align: center;
    background-color: red;
}
.flowerbox{
    border: 10px solid red;
    padding: 30px 40px 30px 40px;
    background-color: aliceblue;
}
    

a:hover{
    color: blueviolet;
}
